.close-btn{
    display: none;
  }



@media screen and (max-width: 1300px) {
    .responsive {
        display: none;
        position: absolute;
        width: 50vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    }

    .close-btn{
        display: block;
        position: absolute;
        right: 0;
        margin: 10px;
        width: 40px;
    }
  }

.visible{
    display: flex;
}

